# Qdrant Configuration
QDRANT_API_KEY=
QDRANT_LOG_LEVEL=INFO
QDRANT_HTTP_PORT=63335
QDRANT_GRPC_PORT=6334
QDRANT_HOST=localhost
QDRANT_COLLECTION_NAME=documents
QDRANT_VECTOR_SIZE=512
QDRANT_DISTANCE=Cosines
LANGSMITH_API_KEY=12